// Specific CSS for your home-page
@import "menu_cards";
@import "buttons";
@import "banner";


:root {
  /* Colors */
  --brand-color: #ffc400;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}


/* Box sizing rules */
// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

// /* Remove default margin */
// body,
// h2,
// p {
//   margin: 0;
// }

/* GLOBAL STYLES */
.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  place-items: center;
  height: 100vh;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}


p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
