// Import page-specific CSS files here.
@import "home";
@import "animated_cards";
@import "navbar";

#header-index {
  font-family: "Montserrat", sans-serif;;
  margin: 20px;
}

.spacer {
  margin:20px;
}

.super-spacer {
  margin:50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

#photo-pet img {
  height: 300px;
  width: 300px;
  flex-wrap: wrap;
  object-fit: cover;
}

#button-pet-details {
  margin-top: 10px;
}

.card {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem .25em;
}

@media screen and (min-width: 40em) {
  .card {
     max-width: calc(50% -  1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
      max-width: calc(25% - 1em);
  }
}
