<div class="container" id="grid">

  <h1>All Adorable Pets</h1>

  <%= link_to "Add a new pet", new_pet_path, class: "btn btn-gradient" %>

  <div>
    <div class="centered">
      <section class="cards">
        <% @pet.each do |pet| %>
        <article class="card">
        <p class="card-name"><%= link_to pet.name, pet_path(pet) %></p>
        <%= cl_image_tag pet.photo.key, height: 200, width: 200, crop: :fill %>
          <%= link_to "Details", pet_path(pet), class: "btn btn-gradient" %>
        </article>
        <% end %>
      </section>
    </div>
  </div>
