<div class="container" id="grid">

  <h1>All Adorable Pets</h1>

  <%= link_to "Add a new pet", new_pet_path, class: "btn btn-gradient" %>

  <div>
    <div class="centered">
      <section class="cards">
        <% @pet.each do |pet| %>
        <article class="card" id="photo-pet">
        <p class="card-name"><%= link_to pet.name, pet_path(pet) %></p>
        <% if pet.photo.attached? %>
        <%= cl_image_tag pet.photo.key %>
        <% else %>
        <img src="https://res.cloudinary.com/drfmymoki/image/upload/v1677675099/Untitled_design_2_fibtjg.png">
        <% end %>
          <%= link_to "Details", pet_path(pet), class: "btn btn-gradient", id:"button-pet-details" %>
        </article>
        <% end %>
      </section>
    </div>
  </div>
