<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drfmymoki/image/upload/v1677519243/cdf28c2d-5a2d-42db-9346-c2886e3bb0ae_dog-indoors-woman-sofa-AdobeStock_199489473_vpmcwa.avif);">
  <div class="container">
    <h1><strong>Share your pet</strong></h1>
    <h1><strong>or lend it to others</strong></h1>
    <div class="spacer"></div>
    <%= link_to "See all pets", pets_path, class: "button-52" %>
  </div>
</div>

<div class="expand-menu-container">

  <div class="box">
    <%= link_to pets_path(query:'Dog') do %>
    <img src="https://res.cloudinary.com/drfmymoki/image/upload/c_crop,g_north,h_549,w_1220/v1677519075/4.-labrador-1220x687_g5awms.jpg">
    <span>Dogs</span>
    <% end %>
  </div>

  <div class="box">
    <img src="https://res.cloudinary.com/drfmymoki/image/upload/v1677518955/kitten-playing-with-toy-mouse-royalty-free-image-590055188-1542816918_jwpeym.jpg">
    <span><%= link_to "Cats", pets_path(query:'Cat') %></span>
  </div>
  <div class="box">
    <img src="https://res.cloudinary.com/drfmymoki/image/upload/v1677518639/7030094-cute-animals_lganeb.jpg">
    <span>Small Pets</span>
  </div>
  <div class="box">
    <img src="https://res.cloudinary.com/drfmymoki/image/upload/c_crop,g_north,h_308,w_800/v1677584374/What-kind-of-animal-is-parrot_egumo6.jpg">
    <span>Exotics</span>
  </div>
</div>
